<div>
	<h3>PERSONS</h3>
	<div>First Name : <div>
	<input type='text' name='firstname'><br>
	<div>Last Name  : <div>
	<input type='text' name='lastname'><br>
	<input type='submit' name='submitPersons' value='Submit Persons'>

	<h3>PLACES</h3>
	<div>Name : <div>
	<input type='text' name='firstname'><br>
	<div>Description  : <div>
	<input type='text' name='lastname'><br>
	<input type='submit' name='submitPlaces' value='Submit Places'>

	<h3>RELATIONSHIPS</h3>
	<div>First Person : <div>
	<input type='text' name='firstname'><br>
	<div>Second Person  : <div>
	<input type='text' name='lastname'><br>
	<div>Level : <div>
	<input type='text' name='firstname'><br>
	<div>Description  : <div>
	<input type='text' name='lastname'><br>
	<input type='submit' name='submitRelationships' value='Submit Relationships'>

	<h3>LOCATIONS</h3>
	<div>Place : <div>
	<input type='text' name='firstname'><br>
	<div>Person  : <div>
	<input type='text' name='lastname'><br>
	<div>Date start : <div>
	<input type='text' name='firstname'><br>
	<div>Date end  : <div>
	<input type='text' name='lastname'><br>
	<input type='submit' name='submitLocations' value='Submit Locations'>
</div>
